@import 'modal';
@import 'colors';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: $background-color;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

//* HEADER

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  max-width: 600px;
  border: 2px solid $header-border-color;
  border-radius: 10px;
  padding: 8px 12px 8px 20px;
  margin-bottom: 5vh;
}

.title {
  color: white;
  line-height: 4px;
  font-size: 1.3em;
  font-weight: 700;
}

.score-box {
  line-height: 4px;
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 30px;
}

.score {
  color: $score-color;
  font-size: 3.2em;
  font-weight: 700;
}
.score-text {
  color: $score-text;
  letter-spacing: 2px;
}

//OPTIONS - ROCK/PAPER/SCISSORS ETC
.options {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin: 20px;
}
.option-border {
  margin: 2em;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  padding: 1.2em;
  position: relative;
}
.option-border:hover {
  cursor: pointer;
}
.option-border:active {
  opacity: 0.8;
}

.option {
  background: white;
  padding: 2em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.rock {
  background: $rock-gradient;
}
.paper {
  background: $paper-gradient;
}

.scissors {
  background: $scissors-gradient;
}

//RESULT

.results {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 450px;
}

.result {
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.2em;
}

.winner-desktop {
  text-align: center;
  margin: 15px;
}
.winner-mobile {
  text-align: center;
  margin: 15px;
  display: none;
}

//triangle background shape
.triangle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

// BUTTONS
.button-container {
  align-self: flex-end;
  margin: 10px 40px;
  position: absolute;
  bottom: 20px;
}
.button {
  text-align: center;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 10px;
  letter-spacing: 4px;
  padding: 0px 30px;
  margin: 15px 0px;
}

.button:hover {
  cursor: pointer;
  color: rgb(230, 145, 159);
  border: 2px solid rgba(255, 255, 255, 0.66);
}

.play-again {
  background: white;
  color: $score-color;
}
// MEDIA QUERIES

@media (max-width: 540px) {
  html {
    font-size: 1em;
  }
  header {
    width: 75vw;
    font-size: 0.8em;
  }
  .options {
    width: 90vw;
    max-width: 340px;
    min-width: 270px;
  }
  .option {
    padding: 1.1em;
  }
  .option-border {
    margin: 1em;
    max-width: 200px;
    max-height: 200px;
  }
  .triangle {
    width: 70%;
  }

  .score-box {
    padding: 4px 20px;
    font-size: 1.2em;
  }
  .result {
    font-size: 1em;
    letter-spacing: 2px;
  }
  .results {
    height: auto;
  }
  .winner-desktop {
    display: none;
  }
  .winner-mobile {
    display: block;
  }
}

@media (max-width: 850px) {
  .button-container {
    align-self: center;
    position: relative;
  }
}
