@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

//* HEADER

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  max-width: 600px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 8px 12px 8px 20px;
}

.title {
  color: white;
  line-height: 4px;
  font-size: 1.3em;
  font-weight: 700;
}

.score-box {
  line-height: 4px;
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 30px;
}

.score {
  color: hsl(229, 25%, 31%);
  font-size: 3.2em;
  font-weight: 700;
}
.score-text {
  color: hsl(229, 64%, 46%);
  letter-spacing: 2px;
}

//* OPTIONS - ROCK/PAPER/SCISSORS ETC
.options {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  border: 3px solid white;
  margin: 20px;
}
.option-border {
  margin: 2em;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  padding: 1.2em;
  position: relative;
}

.option {
  background: white;
  padding: 2em;
  border-radius: 50%;
}

.rock {
  background: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}
.paper {
  background: linear-gradient(
    to bottom,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
}

.scissors {
  background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

//triangle backgground shape
.triangle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

//* MEDIA QUERIES

@media (max-width: 540px) {
  html {
    font-size: 0.8em;
  }
  header {
    width: 75vw;
    font-size: 0.8em;
  }
  .options {
    width: 90vw;
    max-width: 340px;
  }
  .option {
    padding: 1.3em;
  }
  .option-border {
    margin: 0.5em;
    max-width: 200px;
    max-height: 200px;
  }
  .triangle {
    width: 70%;
  }

  .score-box {
    padding: 4px 20px;
    font-size: 1.2em;
  }
}
