@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  line-height: 0px;
  color: hsl(229, 25%, 31%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: fadeInModal 0.5s;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rules-modal {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

.rules-modal > img {
  padding: 50px 20px 10px 20px;
}

.close-icon {
  display: block;
}

.close-icon-mobile {
  display: none;
}
@media (max-width: 450px) {
  .rules-modal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .close-icon {
    display: none;
  }
  .close-icon-mobile {
    display: block;
  }
}

//? modal animation

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
